{% extends 'layout.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block content %}
<div class="container">
	<link rel="stylesheet" href="{{url_for('.static', filename='table.css')}}">
	<h1>Review Configuration</h1>
    <table class='table table-responsive'>
        <tr>
            <td>Destination STE</td>
            <td>{{ session['ste'] }}</td>
        </tr>
        <tr>
            <td>Destination Device</td>
            <td>{{ session['device'] }}</td>
        </tr>
        <tr>
            <td>Ticket Number</td>
            <td>{{ session['ticket'] }}</td>
        </tr>
        <tr>
            <td>Configuration File</td>
            <td>{{ session['filename'] }}</td>
        </tr>
        {% if (session['device']=='IFProc') %}
            <td>Serial</td>
            <td>{{ session['serial'] }}</td>
      {% endif %}
    </table>
	<a href="/aku/4/" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-ok"></span> Everything is OK</a>
</div>
{% endblock %}
